<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homePage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="fw-medium">
  <nav class="navbar navbar-expand-lg">
      <a href="#"><img src="/images/nikfar.jpg" alt="Logo" width="180" height="100" class="d-inline-block logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
        <ul class="navbar-nav">
          <li><a class="navbar-brand" aria-current="page" href="/">Home</a></li>
          <li><a  class="navbar-brand" href="/employees" <%- title === 'All Employees' ? 'class="active nav-link"' : '' %>>All Employees</a></li>
          <% if (user) { %>
          <li><a class="navbar-brand" href="/employees/new" <%- title === 'Add Employee' ? 'class="active nav-link"' : '' %>>Add Employee</a></li>
          <li><a class="navbar-brand" href="/entitlements/new" <%- title === 'Add Entitlement' ? 'class="active nav-link"' : '' %>>Add Entitlement</a></li>
            <li><a class="navbar-brand" href="/logout">
            <img width="70" height="70" class="" src="https://img.icons8.com/bubbles/100/000000/exit.png" alt="exit"/></a> </li>
          <% } else { %>
           <a href="/auth/google" class="login "><img width="64" height="64" src="https://img.icons8.com/dusk/64/circled-user-female-skin-type-6.png" alt="circled-user-female-skin-type-6"/></a>
          <% } %>
          <!-- <li class="navbar-brand dropdown"><a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Dropdown</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
        </ul>
       
      </div>
  </nav>
  <main  class="container mb-2">
  