<%- include('../partials/top') %>

<div>Before adding, please ensure that the Entitlement is not in the following list:</div>
<section id="badge-container">
  <% entitlements.forEach(function(e) { %>
    <article class="badge"><%= e.name %></article>
  <% }) %>
</section>

<form id="add-entitlement-form" action="/entitlements" method="POST">

  <div class="input-group mb-3">
    <input type="text" class="form-control"  name="name" placeholder="Add Entitlements:" aria-label="Add Entitlements:" aria-describedby="button-addon2">
    <!-- <button class="btn " type="button" id="button-addon2">Submit</button> -->
    <input class="btn btn-outline-secondary" type="submit" value="Submit">
  </div>



 
</form>

<%- include('../partials/bottom') %>